{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}" />
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            <h1>Register</h1>

            <form action="{{ path("user_register") }}" method="POST">
                {# Criar o form de maneira rapida com todos os atributos setados #}
                {#{{ form_widget(form) }}#}

                {# Para criar os atributos indepedentes #}
{#                <div class="awesome-username-wrapper">#}
{#                    {{ form_errors(form.username) }}#}
{#                    {{ form_label(form.username) }}#}
{#                    {{ form_widget(form.username) }}#}
{#                </div>#}

                {# Para gerar os atributos 1 a 1 #}
                {{ form_errors(form) }}

                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first,{
                    'label': 'Password'
                }) }}
                {{ form_row(form.plainPassword.second, {
                    'label': 'Repeat Password'
                }) }}

                {{ form_rest(form) }}

                <input type="submit" value="Register" class="btn btn-primary">
            </form>

        </article>
    </section>
{% endblock %}
